body{
    font-family: Arial, Helvetica, sans-serif;
}

.dbg{
    background-color: lightgreen;
    border: 2px solid red;
    height: 250px;
}

/******
Header  
*******/

header{
    background-color:  #2C3E50;
}

.navbar a{
    color: white;
    text-transform: uppercase;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-dark .navbar-brand {
    font-weight: 900;
}

.navbar-dark .navbar-toggler{
    border-color: white;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

/******
Main
*******/

/* Jumbotron */
.jumbotron{
    background-color: #1ABC9C;
    border-radius: 0;
}

.jumbotron img{
    height: 260px;
}
/* Portfolio */
.portfolio{
    padding:50px 0;
}

/* About */

.about{
    background-color: #1ABC9C;
    padding: 20px 0;
}

/* Contact me */
.contact_me{
    padding: 50px 80px;
}


.contact_me form{
    width: 80%;
}
.contact_me .form-control{
    padding: 0;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    color: black;
}
.form-control::placeholder{
    color: black;
}
.contact_me .btn{
    background-color: #1ABC9C;
    color: white;
}

/******
Footer
*******/